/*--- Base Styles ---*/

body {
  padding-top: 75px;
  font-family: 'Khula', sans-serif;
  font-size: 16px;
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%), url(../images/clouds-295695_1920.jpg) top center no-repeat #788dac;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 1))), url(../images/clouds-295695_1920.jpg) top center no-repeat #788dac;
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%), url(../images/clouds-295695_1920.jpg) top center no-repeat #788dac;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%), url(../images/clouds-295695_1920.jpg) top center no-repeat #788dac;
  background-size: cover;
}


/*--- Navbar  ---*/

.top-navbar {
  background: -webkit-gradient(linear, left top, right top, from(white), to(transparent)), url('../images/cloud-97453_1920.jpg') no-repeat top center, #6bacf7;
  background: -webkit-linear-gradient(left, white, transparent), url('../images/cloud-97453_1920.jpg') no-repeat top center, #6bacf7;
  background: -o-linear-gradient(left, white, transparent), url('../images/cloud-97453_1920.jpg') no-repeat top center, #6bacf7;
  background: linear-gradient(left, white, transparent), url('../images/cloud-97453_1920.jpg') no-repeat top center, #6bacf7;
  background-size: 768px 512px;
}


/*--- Logo  ---*/

.top-navbar .logo {
  padding: 5px 0 0 1px;
  height: 100%;
  color: #1f477e;
}

.top-navbar .logo:focus,
.top-navbar .logo:hover {
  color: #3e6097;
}

.main-logo,
.sub-logo {
  font-family: 'Anton', sans-serif;
}

.main-logo {
  font-size: 1.4em;
}

.sub-logo {
  font-size: .52em;
}

.phone {
  font-size: .7em;
}

.phone strong {
  font-size: 1.2em;
}


/*--- Navbar Button ---*/

.top-navbar .hamburger {
  top: 10px;
  border-color: rgba(0, 0, 0, 0);
}

.top-navbar .hamburger:focus,
.top-navbar .hamburger:hover {
  background-color: rgba(150, 157, 184, 0.4);
}

.top-navbar .hamburger .bars {
  background-color: #1f477e;
}


/*--- Jumbotron ---*/

.jumbo {
  padding-top: 0;
  padding-bottom: 0;
}

.welcome {
  font-family: 'Anton', sans-serif;
  color: #969DB8;
  text-shadow: 1px 1px 3px black;
  position: absolute;
  z-index: 1;
  top: 75px;
  width: 100%;
}


/*--- Main Content ---*/

.president {
  max-width: 65.5%;
  margin-bottom: 30px;
}


/*--- Media Queries ---*/

@media (max-device-width: 767px) and (orientation: landscape) {
  .navbar-fixed-top .navbar-collapse {
    max-height: 210px;
  }
}

@media (min-width: 768px) {
  body {
    font-size: 14px;
  }
  .top-navbar {
    background: -webkit-radial-gradient(circle, white, transparent), url('../images/cloud-97453_1920.jpg') no-repeat center, #6bacf7;
    background: -o-radial-gradient(circle, white, transparent), url('../images/cloud-97453_1920.jpg') no-repeat center, #6bacf7;
    background: radial-gradient(circle, white, transparent), url('../images/cloud-97453_1920.jpg') no-repeat center, #6bacf7;
    background-position: center;
    background-size: cover;
  }
}

@media (min-height: 450px) {
  .navbar-fixed-top .main-menu {
    max-height: 100%;
    border-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}

@media (min-width: 375px) {
  .sub-logo {
    font-size: .54em;
  }
  .phone {
    font-size: .9em;
  }
}