/*--- Base Styles ---*/

body {
  font-family: 'Khula', sans-serif;
  padding-top: 75px;
  font-size: 16px;
}


/*--- Navbar  ---*/

.top-navbar {
  background: linear-gradient(left, white, transparent), url('../images/cloud-97453_1920.jpg') no-repeat top center, #6bacf7;
  background-size: 768px 512px;
}


/*--- Logo  ---*/

.top-navbar .logo {
  padding: 5px 0 0 1px;
  height: 100%;
  color: #1f477e;
}

.top-navbar .logo:focus,
.top-navbar .logo:hover {
  color: #3e6097;
}

.main-logo,
.sub-logo {
  font-family: 'Anton', sans-serif;
}

.main-logo {
  font-size: 1.4em;
}

.sub-logo {
  font-size: .52em;
}

.phone {
  font-size: .7em;
}

.phone strong {
  font-size: 1.2em;
}


/*--- Navbar Button ---*/

.top-navbar .hamburger {
  top: 10px;
  border-color: rgba(0, 0, 0, 0);
}

.top-navbar .hamburger:focus,
.top-navbar .hamburger:hover {
  background-color: rgba(150, 157, 184, 0.4);
}

.top-navbar .hamburger .bars {
  background-color: #1f477e;
}


/*--- Jumbotron ---*/

.jumbo {
  padding-top: 0;
  padding-bottom: 0;
}

.welcome {
  font-family: 'Anton', sans-serif;
  position: absolute;
  z-index: 1;
  top: 75px;
  width: 100%;
}


/*--- Main Content ---*/

.president {
  max-width: 65.5%;
  margin-bottom: 30px;
}


/*--- Media Queries ---*/

@media (max-device-width: 767px) and (orientation: landscape) {
  .navbar-fixed-top .navbar-collapse {
    max-height: 210px;
  }
}

@media (min-width: 768px) {
  body {
    font-size: 14px;
  }
  .top-navbar {
    background: radial-gradient(circle, white, transparent), url('../images/cloud-97453_1920.jpg') no-repeat center, #6bacf7;
    background-position: center;
    background-size: cover;
  }
}

@media (min-height: 450px) {
  .navbar-fixed-top .main-menu {
    max-height: 100%;
    border-color: transparent;
    box-shadow: none;
  }
}

@media (min-width: 375px) {
  .sub-logo {
    font-size: .54em;
  }
  .phone {
    font-size: .9em;
  }
}
