html{overflow-y:scroll}
body {
	font-size: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	text-align: center;
	font-family: Arial, Verdana, Tahoma, Helvetica;
	background: url(images/bg.jpg) center center fixed;
	}

a{color:#ff8502;text-decoration:underline}
a:hover{color:#1787f0;text-decoration:none}
h1,h2,h3,h4,h5,h6{font-size:100%;margin:4px 0;padding:2px 0;}

.float_right{float:right}
.float_lefft{float:left}
.clear{clear:both}
	
#wrapper {
	width: 900px;
	margin: 0 auto;
	text-align: left;
	font-size: .9em;
	}
	
#header {
	padding: 20px 0;
	}
	
#header .phone {
	float: right;
	background: url(images/phone_number.png) top left no-repeat;
	width: 244px;
	height: 26px;
	margin-top: 10px;
	}
	
#nav {height: 299px}
#nav .display{float:left}
#nav .navigation_menu {float:left}

#nav .navigation_menu .navigation_tcat {
	background: url(images/navigation_tcat.png) top left no-repeat;
	width: 207px;
	height: 39px;
}

#nav .navigation_menu ul.menu {
	width: 207px;
	height: 260px;
	background: url(images/navigation_menu.png) top left no-repeat;
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
}

#nav .navigation_menu ul.menu li {
	margin: 0;
	padding: 0;
	}
	
#nav .navigation_menu ul.menu li a {
	width: 207px;
	height: 30px;
	display: block;
	float: left;
	}
	
#nav .navigation_menu ul.menu li a:hover.menu_home {background:url(images/navigation_menu_hover.png) 0 0 no-repeat}
#nav .navigation_menu ul.menu li a:hover.menu_abou {background:url(images/navigation_menu_hover.png) 0 -30px no-repeat}
#nav .navigation_menu ul.menu li a:hover.menu_cste {background:url(images/navigation_menu_hover.png) 0 -60px no-repeat}
#nav .navigation_menu ul.menu li a:hover.menu_croo {background:url(images/navigation_menu_hover.png) 0 -90px no-repeat}
#nav .navigation_menu ul.menu li a:hover.menu_mres {background:url(images/navigation_menu_hover.png) 0 -120px no-repeat}
#nav .navigation_menu ul.menu li a:hover.menu_cwin {background:url(images/navigation_menu_hover.png) 0 -150px no-repeat}
#nav .navigation_menu ul.menu li a:hover.menu_cint {background:url(images/navigation_menu_hover.png) 0 -180px no-repeat}
#nav .navigation_menu ul.menu li a:hover.menu_mpro {background:url(images/navigation_menu_hover.png) 0 -210px no-repeat}
	
#titlebar .contact_button {float:right; margin-top: 8px}

#titlebar .contact_button a {
	background: url(images/contactus_button.png) no-repeat;
	background-position: 0 0;
	display: block;
	width: 146px;
	height: 37px;
	cursor: pointer;
	margin-left: 8px;
	}
	
#titlebar .contact_button a:hover {
	background: url(images/contactus_button.png) no-repeat;
	background-position: -146px 0;
	}
	
#titlebar .portfolio_button {float:right; margin-top: 8px}

#titlebar .portfolio_button a {
	background: url(images/portfolio_button.png) no-repeat;
	background-position: 0 0;
	display: block;
	width: 146px;
	height: 37px;
	cursor: pointer;
	}
	
#titlebar .portfolio_button a:hover {
	background: url(images/portfolio_button.png) no-repeat;
	background-position: -146px 0;
	}
	
#titlebar h1 {
	font-size: 1.3em;
	font-weight: normal;
	margin-top: 8px;
	padding: 10px 0;
	display: inline;
	float: left;
	}
	
#page ul  {
	list-style-image: url(images/bullet_icon.gif);
	}
	
#page p  {
	margin: 0;
	margin-bottom: 16px;
	}
	
#page .page_top {
	width: 900px;
	height: 6px;
	background: url(images/page_top.png) top left no-repeat;
	line-height: 1px; font-size: 1px;
	}
	
#page .page_main {
	background: #FFFFFF;
	line-height: 160%;
	color: #232323;
	}
	
#page .page_wrap {
	padding: 4px 10px;
	}
	
#page .page_bot {
	width: 900px;
	height: 6px;
	background: url(images/page_bot.png) top left no-repeat;
	line-height: 1px; font-size: 1px;
	}
	
#footer {
	padding: 20px 0;
	color: #393939;
	}
	
#footer .botlinks {
	float: right;
	font-size: .8em;
	}
	
#footer .botlinks a {
	color: #13508c;
	text-decoration: underline;
	}
	
#footer .botlinks a:hover{text-decoration:none}
	
#footer .copyright {
	float: left;
	font-size: .8em;
	}
	
#footer .copyright a,#footer .copyright a:hover {
	color: #393939;
	text-decoration: none;
	}
	
#contact-area {
	width: 600px;
	margin-top: 25px;
}

#contact-area input, #contact-area textarea {
	padding: 5px;
	width: 471px;
	font-family: Helvetica, sans-serif;
	font-size: 1.4em;
	margin: 0px 0px 10px 0px;
	border: 2px solid #ccc;
}

#contact-area textarea {
	height: 90px;
}

#contact-area textarea:focus, #contact-area input:focus {
	border: 2px solid #900;
}

#contact-area input.submit-button {
	width: 100px;
	float: right;
}

label {
	float: left;
	text-align: right;
	margin-right: 15px;
	width: 100px;
	padding-top: 5px;
	font-size: 1.4em;
}